# Python
*.py[cod]
__pycache__/
*.so
.Python
env/
venv/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build/Output
*.o
*.out
*.sim
*.vcd

# LaTeX
*.aux
*.log
*.fdb_latexmk
*.fls
*.nav
*.snm
*.toc

# Jupyter
.ipynb_checkpoints/
todo-app/
